<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />

<!-- Datatables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchbuilder/1.3.0/css/searchBuilder.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.1.1/css/buttons.dataTables.min.css"/>
 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.colVis.min.js"></script>

<style>
    .thumb {
      border: 1px solid #ddd; /* Gray border */
      border-radius: 10px;  /* Rounded border */
      
      width: 150px; /* Set a small width */
    }
    
    /* Add a hover effect (blue shadow) */
    .thumb:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
</style>

<div id="patternTable">
<table class="table  display" name="pattern_table" id="pattern_table" >
    <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Type</th>
            <th>Size Category</th>
            <th>Company</th>
            <th>Name</th>
            <th>Size</th>
            <th>Fabric</th>
            <th>Length (m)</th>
        </tr>
    </thead>

</table>
</div>

<script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.3.0/js/dataTables.searchBuilder.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.3.0/js/searchBuilder.bootstrap4.min.js"></script>
<script>
    
    var files = $.ajax('/patterns/files')
    
    $(document).ready( function () {

        var table = $('#pattern_table').DataTable({
            select:true,
            dom:  "Bfrtip",
            language: {
                searchBuilder: {
                    button: 'Filter',
                },
            },
            buttons:[
                'searchBuilder'
            ],
            ajax:{
                url: '/patterns/all_json',
                method: "GET",
                dataSrc: ""
            },
            "columns": [
                {  "data": "id",
                    render: function(data, type, row, meta) {
                        return `<a target="_blank" href="/data/` + data + `/thumb.png">
                                <img class="thumb" src="/data/` + data + `/thumb.png" alt="">
                                </a>` ;
                    },
                    "defaultContent": 'aaa'
                },
                {  "data": "type"},
                {  "data": "size_category"},
                {  "data": "company"},
                {  "data": "name"},
                {  "data": "size"},
                {  "data": "fabric"},
                {  "data": "fabric_length"},
            ],
            "pageLength": 50
        });

        $('#pattern_table tbody').on('click', 'tr', function() {
            var idx = table.row(this).index();
            console.log("IDX = " + idx);
            $( table.rows().nodes() ).removeClass( 'highlight' );
            $( table.row( idx ).nodes() ).addClass( 'highlight' );
        });

        $('#pattern_table tbody').on('click', 'td', function () {
            // On click on a certain td ( cell ) , find the closest row
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                // Closing the already opened row           
                row.child.hide();
                // Removing class to hide
                tr.removeClass('shown');
            }
            else {
                // Show the child row for detail
                // information
                row.child(getChildRow(row.data(),files)).show();
                // To show details,add the below class
                tr.addClass('shown');
                // row.removeClass('table-hover');
            }
        });
    } );

/* Function for child row details*/
function getChildRow(data, files) {
            // console.log(data)
        // `data` is the data object for the row
        let filesArray = ""

        files.responseJSON[data.id].forEach(element => {
            filesArray += (`<a target="_blank" href="/data/${data.id}/${element}">${element.replace("files/","")}</a><br>`)
        });

        let subRow = '<table class="table" cellpadding="5" cellspacing="0"'
        + ' style="padding-left:50px;">' +
        '<tr>' +
            '<td></td>' +
            '<td>Pattern name:</td>' +
            '<td>' + data.name + '</td>' +
        '</tr>' +
        '<tr>' +
            '<td></td>' +
            '<td>Pattern number:</td>' +
            '<td>' + data.number + '</td>' +
        '</tr>' +
        '<tr>' +
            '<td></td>' +
            '<td>Personal note:</td>' +
            '<td>' + data.note + '</td>' +
        '</tr>' +
        '<tr>' +
            '<td></td>' +
            '<td>Files:</td>' +
            '<td>' + filesArray + '</td>' +
        '</tr>' +
        '</table>'
        console.log(subRow)
        return subRow;

}
</script>