
<style>
    .thumb {
      border: 1px solid #ddd; /* Gray border */
      border-radius: 10px;  /* Rounded border */
      width: 150px; /* Set a small width */
    }
    
    /* Add a hover effect (blue shadow) */
    .thumb:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
</style>

<div id="patternTable">
    
<table class="table stripe" name="pattern_table_n" id="pattern_table" >
    <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Type</th>
            <th>Size Category</th>
            <th>Company</th>
            <th>Name</th>
            <th>Size</th>
            <th>Fabric</th>
        </tr>
    </thead>
</table>
</div>

<script>
    
    var files = $.ajax('/patterns/files')
    
    $(document).ready( function () {

        $('#pattern_table thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#pattern_table thead');

        var table = $('#pattern_table').DataTable({
            dom:  "ifrtp",
            ajax:{
                url: '/patterns/all_json',
                method: "GET",
                dataSrc: ""
            },        
            // orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
            var api = this.api();
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    if(colIdx != 0){

                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                            );
                    
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" size="4"/>');
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                    }
                });
        },
            // searchBuilder: true,
            // searching: true,
            "columns": [
                {  "data": "id",
                    render: function(data, type, row, meta) {
                        return `<a target="_blank" href="/data/` + data + `/thumb.png">
                                <img class="thumb" src="/data/` + data + `/thumb.png" alt="">
                                </a>` ;
                    },
                    "defaultContent": 'None'
                },
                {  "data": "type",
                    render: (data,type,row,meta)=>{
                        return data.replaceAll(",",", ")
                    }
                },
                {  "data": "size_category",
                    render: (data,type,row,meta)=>{
                        return data.replaceAll(",", ", ")
                    }},
                {  "data": "company"},
                {  "data": "name"},
                {  "data": "size"},
                {  "data": "fabric"}
            ],
            "pageLength": 50,
            "order":[3, 'asc']
        });

        $('#pattern_table tbody').on('click', 'tr', function() {
            var idx = table.row(this).index();
            console.log("IDX = " + idx);
            $( table.rows().nodes() ).removeClass( 'highlight' );
            $( table.row( idx ).nodes() ).addClass( 'highlight' );
        });

        $('#pattern_table tbody').on('click', 'td', function () {
            // On click on a certain td ( cell ) , find the closest row
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                // Closing the already opened row           
                row.child.hide();
                // Removing class to hide
                tr.removeClass('shown');
            }
            else {
                // Show the child row for detail
                // information
                row.child(getChildRow(row.data(),files)).show();
                // To show details,add the below class
                tr.addClass('shown');
                // row.removeClass('table-hover');
            }
        });
    } );

/* Function for child row details*/
function getChildRow(data, files) {
        console.log(data)
        // `data` is the data object for the row
        let filesArray = ""

        if (Array.isArray(files.responseJSON[data.id])){
            files.responseJSON[data.id].forEach(element => {
                filesArray += (`<a target="_blank" href="/data/${data.id}/${element}">${element.replace("files/","")}</a><br>`)
            });
        }

        let subRow = '<table class="table" id="sub_table_'+data.id+'" cellpadding="0" cellspacing="0"'
        + ' style="padding-left:50px;">' +
        '<tr>' +
            '<td></td>' +
            '<td>Pattern name:</td>' +
            '<td id="sub_name_'+data.id+'">' + data.name + '</td>' +
        '</tr>' +
        '<tr>' +
            '<td></td>' +
            '<td>Pattern number:</td>' +
            '<td id="sub_number_'+data.id+'">' + data.number + '</td>' +
        '</tr>' +
        '<tr>' +
            '<td></td>' +
            '<td>Personal note:</td>' +
            '<td id="sub_note_'+data.id+'">' + data.note + '</td>' +
        '</tr>' +
        '<tr>' +
            '<td></td>' +
            '<td>Fabric length (m):</td>' +
            '<td id="sub_length_'+data.fabric_length+'">' + data.fabric_length.toFixed(2) + ' m (' + (data.fabric_length*1.0936).toFixed(2) + ' yrd)</td>' +
        '</tr>' +
        '<tr>' +
            '<td></td>' +
            '<td>Files:</td>' +
            '<td id="sub_files_'+data.id+'">' + filesArray + '</td>' +
            '<td><a href=/patterns/edit?id=' + data.id + '>Edit</a></td>' +
        '</tr>' +
        '</table>'
        console.log(subRow)
        return subRow;

}

var mainrow = null

function editrow(row, id){
    
    mainrow = $(row).parents("tr");
    var cols = mainrow.children("td");

    // console.log(row)
    // console.log(mainrow[1])
    // console.log(cols)
    var oldValue = $("#sub_files_"+id).val();
    var subtable = $("#sub_table_"+id);
    // console.log(subtable)
    // // console.log(subtable.row())
    // console.log(subtable.rows())

    // Set what's inside that cell
    $("#"+cols[2].id).html(`<input type="text" name="number" value="${$(cols[2]).text()}" id="pattern_number">`)
    $("#btn_edit_" + id).text("Accept")
    console.log(cols[2].id)
    var files = $.ajax({
        url:'/patterns/debug',
        method: "POST",
        data: {
            id:`${row}`
        }
    })
}
</script>